{
  "verbose": false,

  "excludeNodeTypes": [
    "importStatement",
    "importNodeStatement",
    "importToolStatement"
  ],

  "excludeBuiltinFunctions": ["write"],

  "allowedFetchDomains": ["adit.io"],
  "log": {
    "host": "stdout",
    "debugMode": false
  },
  "client": {
    "logLevel": "debug",
    "defaultModel": "gpt-4o-mini"
  }
}
