{
  "verbose": false,
  "outDir": "./dist",

  "excludeNodeTypes": [
    "importStatement",
    "importNodeStatement",
    "importToolStatement"
  ],

  "excludeBuiltinFunctions": ["write"],

  "allowedFetchDomains": ["adit.io"]

  // "disallowedFetchDomains": ["malicious.com", "blocked.site.com"]
}
