import { {{{nodeName:string}}} } from "./{{{filename:string}}}";
import { writeFileSync } from "fs";

export async function runEvaluation() {
  {{#hasArgs}}
  const result = await {{{nodeName:string}}}({{{args?:string}}});
  {{/hasArgs}}
  {{^hasArgs}}
  const result = await {{{nodeName:string}}}();
  {{/hasArgs}}
  console.log("Evaluation result:", result.data);
  writeFileSync("__evaluate.json", JSON.stringify(result, null, 2));
  return result;
}

runEvaluation();