{{{iterStore}}} = {{{iterStore}}} ?? 0;
let {{{currentIterVar}}} = 0;
for ({{{init}}}; {{{condition}}}; {{{update}}}) {
  if ({{{currentIterVar}}} < {{{iterStore}}}) {
    {{{currentIterVar}}}++;
    continue;
  }
{{#hasItemDecl}}
  {{{itemDecl}}}
{{/hasItemDecl}}
  {{{subStore}}} = {{{subStore}}} ?? 0;
{{#bodyStatements}}
  if ({{{this.subStore}}} <= {{{this.index}}}) {
    {{{this.code}}}
    {{{this.subStore}}} = {{{this.nextIndex}}};
  }
{{/bodyStatements}}
  {{{subStore}}} = 0;
{{#resetKeys}}
  delete __stack.locals.{{{this}}};
{{/resetKeys}}
  {{{iterStore}}}++;
  {{{currentIterVar}}}++;
}