
export async function {{{functionName:string}}}(args) : Promise<{{{returnType}}}> {
    const __messages: Message[] = [];
    const __stack = __stateStack.getNewState();
    const __step = __stack.step;
    const __self: Record<string, any> = __stack.locals;

    const __params = [{{{argsStr}}}];
      (args).forEach((item, index) => {
        __stack.args[__params[index]] = item;
      });


    {{{functionBody}}}
}