{{{variableName:string}}}{{{typeAnnotation:string}}} = await {{{functionCode:string}}};

{{^globalScope}}
if (isInterrupt({{{variableName:string}}})) {
  {{#nodeContext}}
  return { ...state, data: {{{variableName:string}}} };
  {{/nodeContext}}
   {{^nodeContext}}
   return { data: {{{variableName:string}}} };
   {{/nodeContext}}
}
{{/globalScope}}