__ctx.stateStack.pop();
return goToNode("{{{nodeName:string}}}",
  {
    messages: __stack.messages,
    ctx: __ctx,
    {{#hasData}}
    data: {{{data:string}}}
    {{/hasData}}
    {{^hasData}}
    data: null
    {{/hasData}}
  });