
graph.node("{{{name}}}", async (__state) => {
    const { stack: __stack, step: __step, self: __self, threads: __threads } =
      setupNode({ state: __state });
    const __ctx = __state.ctx;
    const statelogClient = __ctx.statelogClient;
    const __graph = __ctx.graph;
    await callHook({ callbacks: __ctx.callbacks, name: "onNodeStart", data: { nodeName: "{{{name}}}" } });

    {{#hasParam}}
    if (!__state.isResume) {
      {{{paramAssignments}}}
    }
    {{/hasParam}}
    {{{body}}}

    await callHook({ callbacks: __ctx.callbacks, name: "onNodeEnd", data: { nodeName: "{{{name}}}", data: undefined } });
    return { messages: __threads, data: undefined };
});
