const {{{subVar}}} = {{{subStore}}} ?? 0;
{{{handlerDecl}}}
__ctx.pushHandler({{{handlerName}}});
try {
{{#bodyStatements}}
if ({{{this.subVar}}} <= {{{this.index}}}) {
  {{{this.code}}}
  {{{this.subStore}}} = {{{this.nextIndex}}};
}
{{/bodyStatements}}
} finally {
  __ctx.popHandler();
}
