if (__stack.messages[{{{index:string}}}]) {
     __stack.messages[{{{index:string}}}] = MessageThread.fromJSON(__stack.messages[{{{index:string}}}]);
} else {
    __stack.messages[{{{index:string}}}] = new MessageThread();
}