{{{awaitPrefix:string}}}{{{functionName:string}}}([{{{argsString:string}}}], {
    statelogClient: {{{statelogClient:string}}},
    graph: {{{graph:string}}},
    messages: {{{messages:string}}},
    threadId: {{{threadId:string}}}
})