if (__ctx.stateStack.interruptData?.interruptResponse?.type === "resolve") {
  {{{variableName}}} = __ctx.stateStack.interruptData.interruptResponse.value;
  __ctx.stateStack.interruptData.interruptResponse = null;
} else {
  const __interruptResult = interrupt({{{interruptArgs}}});
  __ctx.stateStack.interruptData = {
    nodesTraversed: __graph.getNodesTraversed(),
  };
  __interruptResult.__state = __ctx.stateStack.toJSON();
  {{#nodeContext}}
  return { messages: __threads, data: __interruptResult };
  {{/nodeContext}}
  {{^nodeContext}}
  return __interruptResult;
  {{/nodeContext}}
}
