if (__state.interruptData?.interruptResponse?.type === "approve") {
  __state.interruptData.interruptResponse = null;
} else if (__state.interruptData?.interruptResponse?.type === "resolve") {
  const __resolvedValue = __state.interruptData.interruptResponse.value;
  __state.interruptData.interruptResponse = null;
  {{#nodeContext}}
  return { messages: __threads, data: __resolvedValue };
  {{/nodeContext}}
  {{^nodeContext}}
  __ctx.stateStack.pop();
  return __resolvedValue;
  {{/nodeContext}}
} else {
  const __interruptResult = interrupt({{{interruptArgs}}});
  __state.interruptData = {
    nodesTraversed: __graph.getNodesTraversed(),
  };
  __interruptResult.state = __ctx.stateStack.toJSON();
  {{#nodeContext}}
  return { messages: __threads, data: __interruptResult };
  {{/nodeContext}}
  {{^nodeContext}}
  return __interruptResult;
  {{/nodeContext}}
}
