{{{awaitPrefix:string}}}{{{functionName:string}}}({{{argsString:string}}}{{#hasArgs}}, {{/hasArgs}}{
    ctx: __ctx,
    {{^isAsync}}
    threads: __threads,
    {{/isAsync}}
    {{#isAsync}}
    threads: new ThreadStore(),
    {{/isAsync}}
    interruptData: __state?.interruptData
})