if (__stateStack.interruptData?.interruptResponse?.type === "approve") {
  __stateStack.interruptData.interruptResponse = null;
} else if (__stateStack.interruptData?.interruptResponse?.type === "resolve") {
  const __resolvedValue = __stateStack.interruptData.interruptResponse.value;
  __stateStack.interruptData.interruptResponse = null;
  {{#nodeContext}}
  return { messages: __threads, data: __resolvedValue };
  {{/nodeContext}}
  {{^nodeContext}}
  __stateStack.pop();
  return __resolvedValue;
  {{/nodeContext}}
} else {
  const __interruptResult = interrupt({{{interruptArgs}}});
  __stateStack.interruptData = {
    nodesTraversed: __graph.getNodesTraversed(),
  };
  __interruptResult.__state = __stateStack.toJSON();
  {{#nodeContext}}
  return { messages: __threads, data: __interruptResult };
  {{/nodeContext}}
  {{^nodeContext}}
  return __interruptResult;
  {{/nodeContext}}
}
