
{{#isSubthread}}
__self.messages_{{{nodeId}}} = __self.messages_{{{parentNodeId}}}.newSubthreadChild();
{{/isSubthread}}
{{^isSubthread}}
__self.messages_{{{nodeId}}} = __self.messages_{{{parentNodeId}}}.newChild();
{{/isSubthread}}

{{{bodyCode:string}}}
{{#hasVar}}
{{{varName?}}} = __self.messages_{{{nodeId}}}.cloneMessages()
{{/hasVar}}

// __self.messages = __self.prevMessages;