
{{#isSubthread}}
__stack.messages[{{{threadId:string}}}] = __stack.messages[{{{parentThreadId:string}}}].newSubthreadChild();
{{/isSubthread}}

{{{bodyCode:string}}}
{{#hasVar}}
{{{varName?}}} = __stack.messages[{{{threadId:string}}}].cloneMessages()
{{/hasVar}}

// __stack.messages = __stack.prevMessages;