
async function _{{{variableName:string}}}({{{argsStr:string}}}) {
  return runPrompt({
    ctx: __ctx,
    statelogClient: statelogClient,
    graph: __graph,
    prompt: {{{promptCode:string}}},
    messages: __metadata?.messages || new MessageThread(),
    {{#hasResponseFormat}}
    responseFormat: z.object({
      response: {{{zodSchema:string}}}
    }),
    {{/hasResponseFormat}}
    tools: {{{tools}}},
    toolHandlers: [{{{toolHandlers:string}}}],
    clientConfig: {{{clientConfig:string}}},
    stream: {{{isStreaming:boolean}}},
    maxToolCallRounds: {{{maxToolCallRounds:number}}},
  });
}

{{#isAsync}}
__self.{{{variableName:string}}} = _{{{variableName:string}}}({{{funcCallParams:string}}});
{{/isAsync}}

{{^isAsync}}
__self.{{{variableName:string}}} = await _{{{variableName:string}}}({{{funcCallParams:string}}});

// return early from node if this is an interrupt
if (isInterrupt(__self.{{{variableName:string}}})) {
  {{#nodeContext}}
  return { messages: __threads, data: __self.{{{variableName:string}}} };
  {{/nodeContext}}
   {{^nodeContext}}
   return  __self.{{{variableName:string}}};
   {{/nodeContext}}
}
{{/isAsync}}