{{#hasArgs}}
export async function {{{nodeName:string}}}({{{typedArgsStr:string}}}, { messages, callbacks }: { messages?: any; callbacks?: any } = {}) {
{{/hasArgs}}
{{^hasArgs}}
export async function {{{nodeName:string}}}({ messages, callbacks }: { messages?: any; callbacks?: any } = {}) {
{{/hasArgs}}
  return runNode({
    ctx: __globalCtx,
    nodeName: "{{{nodeName:string}}}",
    data: { {{{argsStr:string}}} },
    messages,
    callbacks,
  });
}
