if (
  toolCall.name === "{{{name:string}}}"
) {
  const args = toolCall.arguments;

  toolCallStartTime = performance.now();
  const result = await {{{name}}}(args);
  toolCallEndTime = performance.now();

  console.log("Tool '{{{name:string}}}' called with arguments:", args);
  // console.log("Tool '{{{name:string}}}' returned result:", result);

statelogClient.toolCall({
    toolName: "{{{name:string}}}",
    args,
    output: result,
    model: __client.getModel(),
    timeTaken: toolCallEndTime - toolCallStartTime,
  });

  // Add function result to messages
  __messages.push(toolMessage(result, {
            tool_call_id: toolCall.id,
            name: toolCall.name,
      }));
}