export const __{{{name:string}}}Tool = {
  name: "{{{name:string}}}",
  description: `{{{description:string}}}`,
  schema: z.object({{{schema:string}}})
};

export const __{{{name:string}}}ToolParams = {{{parameters:string}}};