{{{iterStore}}} = {{{iterStore}}} ?? 0;
let {{{currentIterVar}}} = 0;
while ({{{condition}}}) {
  if ({{{currentIterVar}}} < {{{iterStore}}}) {
    {{{currentIterVar}}}++;
    continue;
  }
  {{{subStore}}} = {{{subStore}}} ?? 0;
{{#bodyStatements}}
  if ({{{this.subStore}}} <= {{{this.index}}}) {
    {{{this.code}}}
    {{{this.subStore}}} = {{{this.nextIndex}}};
  }
{{/bodyStatements}}
  __stack.resetLoopIteration("{{{subKey}}}");
  {{{iterStore}}}++;
  {{{currentIterVar}}}++;
}