let {{{timingVarName:string}}}_startTime = performance.now();
{{{bodyCodeStr:string}}}
let {{{timingVarName}}}_endTime = performance.now();
let {{{timingVarName}}} = {{{timingVarName}}}_endTime - {{{timingVarName}}}_startTime;

{{#printTime}}
console.log("Time taken:", {{{timingVarName}}}, "ms");
{{/printTime}}