const {{{timingVarName:string}}}_startTime = performance.now();
{{{bodyCodeStr:string}}}
const {{{timingVarName}}}_endTime = performance.now();
const {{{timingVarName}}} = {{{timingVarName}}}_endTime - {{{timingVarName}}}_startTime;