goToNode("{{{nodeName:string}}}",
  {
    messages: __self.messages,
    __metadata: {
      graph: __graph,
      statelogClient,
      callbacks: __callbacks,
    },
    {{#hasData}}
    data: {{{data:string}}}
    {{/hasData}}
    {{^hasData}}
    data: null
    {{/hasData}}
  }
);