goToNode("{{{nodeName:string}}}",
  {
    messages: state.messages,
    __metadata: {
      graph: __graph,
      statelogClient,
    },
    {{#hasData}}
    data: {{{data:string}}}
    {{/hasData}}
    {{^hasData}}
    data: null
    {{/hasData}}
  }
);