graph.node("{{{name}}}", async (state): Promise<any> => {
    const __messages: Message[] = [];
    {{#hasParam}}
    const {{{paramNames}}} = state.data;
    {{/hasParam}}
    __nodesTraversed.push("{{{name}}}");
    {{{body}}}
});
