
graph.node("{{{name}}}", async (state): Promise<any> => {
    const __messages: Message[] = [];
    const __graph = state.__metadata?.graph || graph;
    const statelogClient = state.__metadata?.statelogClient || __statelogClient;
    {{#hasParam}}
    const {{{paramNames}}} = state.data;
    {{/hasParam}}
    {{{body}}}
});
