{{#hasArgs}}
export async function {{{nodeName:string}}}({{{argsStr:string}}}, { messages, callbacks } = {}): Promise<State<{{{returnType:string}}}>> {
{{/hasArgs}}
{{^hasArgs}}
export async function {{{nodeName:string}}}({ messages, callbacks } = {}): Promise<State<{{{returnType:string}}}>> {
{{/hasArgs}}
  const data = [ {{{argsStr:string}}} ];
  __callbacks = callbacks || {};
  const result = await graph.run("{{{nodeName:string}}}", { messages: messages || [], data });
  result.tokens = __stateStack.globals.__tokenStats;
  return structuredClone(result)
}
