{{#hasArgs}}
export async function {{{nodeName:string}}}({{{argsStr:string}}}, { messages = [] }?: Record<string, any>|undefined): Promise<{{{returnType:string}}}> {
{{/hasArgs}}
{{^hasArgs}}
export async function {{{nodeName:string}}}({ messages = [] }?: Record<string, any>|undefined): Promise<{{{returnType:string}}}> {
{{/hasArgs}}
  const data = [ {{{argsStr:string}}} ];
  const result = await graph.run("{{{nodeName:string}}}", { messages, data });
  return result.data;
}
