{{#hasArgs}}
export async function {{{nodeName:string}}}({{{argsStr:string}}}, { messages, callbacks } = {}) {
{{/hasArgs}}
{{^hasArgs}}
export async function {{{nodeName:string}}}({ messages, callbacks } = {}) {
{{/hasArgs}}
  const __data = [ {{{argsStr:string}}} ];
  __callbacks = callbacks || {};
  const __result = await graph.run("{{{nodeName:string}}}", { messages: messages || [], data: __data });
  return __createReturnObject(__result);
}
